@import url('../../../../styles/index.less');
.card {
  height: 800px;
  .el-button--primary {
    background-color: #fff;
    color: #409eff;
  }
  .el-input__wrapper{
    box-shadow: 0 0 0 1px #51a7fd;
    .el-input__inner{
      &::placeholder{
        color: #409eff;
      }
    }
  }
}
.el-form-item {
  margin-right: 15px !important;
}
.keyword {
  width: 250px;
}
.mold {
  float: right;
  margin-right: 0px !important;
}
.order-list {
  min-height: 582px;
  .el-button--primary {
    background-color: #fff;
    color: #409eff;
  }
  .el-button--danger {
    background-color: #fff;
    color: #f56c6c;
  }
  .order {
    border: solid 1px @bc-1;
    margin-bottom: 20px;
    width: 100%;
    cursor: default;
    .header {
      width: 97%;

      overflow: hidden;
      font-size: 13px;
      color: #67c23a;
      background-color: #f0f9eb;
      padding: 10px 18px;
      .datetime {
        margin-top: 2px;
        margin-right: 30px;
        float: left;
        user-select: none;
      }
      .uuid {
        float: left;
      }
      .detail {
        float: right;
        cursor: pointer;
        user-select: none;
        &:hover {
          color: @fc-27;
        }
      }
    }
    .content {
      display: flex;
      padding: 20px;
      user-select: none;
      .image {
        width: 60px;
        height: 60px;
      }
      .info {
        width: 300px;
        margin-left: 20px;
        border-right: dashed 1px @bc-1;
        padding-right: 25px;
        h4 {
          font-size: 15px;
          color: #333;
          font-weight: normal;
          margin-top: 0;
          margin-bottom: 5px;
          padding: 0;
        }
        p {
          margin: 0;
          padding: 0;
          font-size: 12px;
          color: #999;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-height: 1.5;
        }
      }
      .label {
        display: block;
        text-align: center;
        font-size: 13px;
        color: @fc-3;
        margin-top: 10px;
      }
      .value {
        display: block;
        text-align: center;
        font-size: 13px;
        color: #409eff;
        margin-top: 6px;
      }
      .border {
        border-right: dashed 1px @bc-1;
        padding: 0 25px;
      }
      .price,
      .amount {
        .border;
      }
      .number {
        .border;
        .value {
          color: @fc-3;
        }
      }
      .status {
        .border;
        .value {
          color: #409eff;
          font-size: 12px;
        }
      }
      .operate {
        margin-left: 20px;
        padding-top: 15px;
      }
    }
  }
}
.empty {
  height: 600px;
}
.pagination {
  width: 896px;

  display: flex;
  align-items: center;
  .el-pagination {
    margin: auto;
  }
  .el-pager li {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 8px;
    color: #333;
    background-color: #f0f2f5;
    &:hover {
      background-color: #f0f9eb;
      color: #fff;
    }
  }
  .el-pager li.is-active {
    color: #fff;
    background-color: #67c23a;
  }
  .el-pagination button {
    background-color: #f0f2f5 !important;
    &:hover {
      color: #000;
    }
  }
}
