@import url('../../styles/index.less');
.nav {
  height: 45px;
  line-height: 45px;
  width: 100%;
  background: #f7f7f7;
  font-size: 16px;

  .autoWidth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    margin: 0 auto;
    color: #4aaf75;
    .ps {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        display: inline-block;
        margin-left: 5px;
        font-weight: 600;
      }
    }
    .login_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      .solid {
        width: 1px;
        height: 14px;
        margin: 0 10px;
        background-color: #4aaf75;
      }
    }
  }
}
.header {
  padding: 12px 18px;
  overflow: hidden;
  user-select: none;
  background-color: #fff;
  width: 100%;

  .logo-container {
    float: left;
    display: flex;
    cursor: pointer;
    .logo {
      width: 80px;
      margin-right: 13px;
      height: auto;
    }
    h3 {
      font-size: 34px;
      margin: 3px 0 3px 0;
      color: #94c52c;
    }
    p {
      font-size: 18px;
      margin: 0;
      color: #0d70b7;
    }
  }
  /deep/ .el-button {
    border-radius: 0 4px 4px 0;
  }
  .search-container {
    float: left;
    margin-top: 5px;
    margin-left: 59px;
    .search {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .keyword-input {
        width: 500px;
        padding: 8px;
        font-size: 14px;
        outline: none;
        border: 1px solid rgb(17, 156, 236);
        &:focus {
          caret-color: #098658;
          box-shadow: 0 2px 6px #409eff;
        }
      }

      .searchBtn {
        width: 60px;
        height: 40px;
        background-color: #409eff;
        color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        border: none;
      }
    }

    .tag {
      margin-right: 10px;
    }
  }
  .operate-container {
    float: right;
    display: flex;
    margin: 25px;
    .loginBtn {
      border-radius: 4px;
    }
  }
}
