html{
  height: 100%;
}
*{
  padding: 0;
  margin: 0;
}
body{
  margin:0;
  height: 100%;
  height: inherit;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
#app{
  height: 100%;
  background-color: #f0f2f5;
}

