.header_container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(224, 224, 224, 0.5);
  padding: 10px 0 0 10px;
  .header {
    margin: 0 40px 0 70px;
    overflow: hidden;
    user-select: none;
    min-width: 1152px;
    width: 1366px;
    .tabs {
      float: left;
      margin-top: 10px;
      ul li {
        list-style: none;
        float: left;
        cursor: pointer;
        padding: 8px 0;
        font-size: 16px;
        margin-right: 28px;
      }
      ul .index {
        list-style: none;
        float: left;
        cursor: pointer;
        font-size: 16px;
        color: #4aaf75;
        border-bottom: 2px solid #4aaf75;
        margin-right: 28px;
      }
    }
    .right {
      float: left;
      position: relative;
      margin-top: 12px;
      width: 270px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);

      .searchInput {
        height: 40px;
        width: 270px;
        border-radius: 10px;
        background-color: #f3f5f6;
        .input {
          border-radius: 10px;
          width: 240px;
          height: 40px;
          background-color: #f3f5f6;
          border: none;
          font-size: 18px;
          padding: 0 0 0 12px;
          &:focus {
            border: none;
            outline: none;
          }
        }
        .tips {
          position: absolute;
          top: 9px;
          right: 40px;
          color: #9199a9;
          cursor: pointer;
          &:hover {
            color: #f54040;
          }
        }
        .icon {
          position: absolute;
          cursor: pointer;
          top: 11px;
          right: 12px;
        }
      }
    }
    .user {
    
      float: right;
      min-width: 100px;
      margin-top: 13px;
      border-radius: 18px;

      .avatar {

        float: right;
        width: 56px;
        height: 64px;
        .image {
          width: 36px;
          height: 36px;
          border-radius: 18px;
          &:hover {
            border: 1px solid #4eb278;
          }
        }
      }
      .name {
        float: left;
        margin: 8px 8px 0 0px;
        cursor: pointer;
      }
    }
    .logo-container {
      float: left;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      cursor: pointer;
      margin-right: 15px;
      margin-top: 10px;
      .logo {
        width: 190px;
        height: 50px;
        margin-right: 13px;
      }
      h3 {
        font-size: 34px;
        margin: 3px 0 3px 0;
        color: #94c52c;
      }
      p {
        font-size: 14px;
        margin: 4px 0 0 10px;
        color: #000;
      }
    }

  }
}
